.tool {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    /*flex-direction: column;
    flex-wrap: nowrap;*/
    /*flex-flow: column nowrap;*/
    /*justify-content: flex-start;*/
    /*border: 1 px solid #66ccee;*/
}

.toolBtn {
    height: 50px;
    float: left;
}

.toolBtn .ant-btn {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./images/导航.png");
    background-color: transparent;
    border-color: transparent;
    /*border: 1 px solid #66ccee;*/
}

.toolPanel {
    float: left;
    width: 200px;
    height: 46px;
    margin-left: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./images/框子.png");
    transition: width 1s;
    display: flex;
    /*flex-direction: column;
    flex-wrap: nowrap;*/
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /*border: 1 px solid #66ccee;*/
}

/*.gutter-example .ant-row > div {*/
/*background: transparent;*/
/*border: 0;*/
/*}*/
.toolPanel .ant-row .gutter-row {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.toolPanel .gutter-row .ant-btn {
    height: 30px;
    border: none;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: opacity 0.4s;
}

.toolPanel .gutter-row .ant-btn:link,
.toolPanel .gutter-row .ant-btn:visited,
.toolPanel .gutter-row .ant-btn:hover,
.toolPanel .gutter-row .ant-btn:active {
    background-color: transparent;
}

.toolPanel .gutterRow1 .gutterBox1 {
    background-image: url("./images/信息1.png");
}

.toolPanel .gutterRow1 .gutterBox1:link {
    background-image: url("./images/信息1.png");
}

.toolPanel .gutterRow1 .gutterBox1:visited {
    background-image: url("./images/信息3.png");
}

.toolPanel .gutterRow1 .gutterBox1:hover {
    background-image: url("./images/信息2.png");
}

.toolPanel .gutterRow1 .gutterBox1:active {
    background-image: url("./images/信息3.png");
}

.toolPanel .gutterRow2 .gutterBox2 {
    background-image: url("./images/权限1.png");
}

.toolPanel .gutterRow2 .gutterBox2:link {
    background-image: url("./images/权限1.png");
}

.toolPanel .gutterRow2 .gutterBox2:visited {
    background-image: url("./images/权限3.png");
}

.toolPanel .gutterRow2 .gutterBox2:hover {
    background-image: url("./images/权限2.png");
}

.toolPanel .gutterRow2 .gutterBox2:active {
    background-image: url("./images/权限3.png");
}

.toolPanel .gutterRow3 .gutterBox3 {
    background-image: url("./images/拓扑图1.png");
}

.toolPanel .gutterRow3 .gutterBox3:link {
    background-image: url("./images/拓扑图1.png");
}

.toolPanel .gutterRow3 .gutterBox3:visited {
    background-image: url("./images/拓扑图3.png");
}

.toolPanel .gutterRow3 .gutterBox3:hover {
    background-image: url("./images/拓扑图2.png");
}

.toolPanel .gutterRow3 .gutterBox3:active {
    background-image: url("./images/拓扑图3.png");
}

.toolPanel .gutterRow4 .gutterBox4 {
    background-image: url("./images/系统1.png");
}

.toolPanel .gutterRow4 .gutterBox4:link {
    background-image: url("./images/系统1.png");
}

.toolPanel .gutterRow4 .gutterBox4:visited {
    background-image: url("./images/系统3.png");
}

.toolPanel .gutterRow4 .gutterBox4:hover {
    background-image: url("./images/系统2.png");
}

.toolPanel .gutterRow4 .gutterBox4:active {
    background-image: url("./images/系统3.png");
}
